@charset "UTF-8";

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 50px 30px;
    padding: 10px;
    border: 1px solid black;
}

div {
    border: 1px solid black;
}

.botoes {
    display: grid;
    grid-template-columns: 1fr 1fr;
}